<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>loginserviceTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServiceTest</display-name>
    <servlet-name>LoginServiceTest</servlet-name>
    <servlet-class>org.monet.loginservice.test.LoginServiceTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServiceTest</servlet-name>
    <url-pattern>/servlet/LoginServiceTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServiceReturnTest</display-name>
    <servlet-name>LoginServiceReturnTest</servlet-name>
    <servlet-class>org.monet.loginservice.test.ReturnLoginServiceTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServiceReturnTest</servlet-name>
    <url-pattern>/servlet/returnUrlTest/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestWSLoginService</display-name>
    <servlet-name>TestWSLoginService</servlet-name>
    <servlet-class>org.monet.loginservice.test.TestWSLoginService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestWSLoginService</servlet-name>
    <url-pattern>/servlet/TestWSLoginService</url-pattern>
  </servlet-mapping>
</web-app>