<div id="LoadingMask" style="width:100%;height:97%;position:absolute;z-index:20000;left:0;top:0;">&#160;</div>

<div id="ReportContainer" class="messagebox">
  <div class="template">
    <div class="x-box-tl">
      <div class="x-box-tr">
        <div class="x-box-tc"></div>
      </div>
    </div>
    <div class="x-box-ml">
      <div class="x-box-mr">
        <div class="x-box-mc"><h3 class="title"></h3><span class="summary"></span></div>
      </div>
    </div>
    <div class="x-box-bl">
      <div class="x-box-br">
        <div class="x-box-bc"></div>
      </div>
    </div>
  </div>
</div>

<div id="Loading" class="loading">
  <div class="loading-indicator"><img src="::ImagesPath::/loading.gif" alt="::Starting::" title="::Starting::"/><span>::Starting::</span>
  </div>
</div>

<div id="Desktop" class="Desktop">

  <iframe id="frameHistory" name="frameHistory" class="history"></iframe>
  <iframe id="frameSignatureApp" name="frameSignatureApp" class="signature-app" src="::Url::/signapp.html" style="display:none;"></iframe>
  <div id="pushClientHolder" style="display:none;"></div>

  <div style="display: none;">
    <img src="::ImagesPath::/s.gif"></img>
    <img src="::ImagesPath::/icons/loading.gif"></img>
    <img src="::ImagesPath::/backgrounds/text-bg.gif"></img>
    <img src="::ImagesPath::/icons/add-trigger.gif"></img>
    <img src="::ImagesPath::/icons/expand-trigger.gif"></img>
    <img src="::ImagesPath::/icons/collapse-trigger.gif"></img>
    <img src="::ImagesPath::/icons/search-trigger.gif"></img>
    <img src="::ImagesPath::/icons/add-trigger.gif"></img>
    <img src="::ImagesPath::/icons/raise-trigger.gif"></img>
    <img src="::ImagesPath::/icons/bury-trigger.gif"></img>
    <img src="::ImagesPath::/icons/delete-trigger.gif"></img>
    <img src="::ImagesPath::/icons/addition-trigger.gif"></img>
    <img src="::ImagesPath::/icons/subtraction-trigger.gif"></img>
  </div>

  <div id="LayoutHeader" class="layout header">
    <div class="leftbox">
      <div id="HeaderLogo" class="logo">
        <table>
          <tr>
            <td>
              <a class="command home" href="showhome()" title="::ShowHome::"></a>
              <img class="federation image"/>
            </td>
            <td style="vertical-align:middle;">
              <a class="command home" href="showhome()" title="::ShowHome::"></a>
              <table>
                <tr>
                  <td>
                    <div class="space label subtitle"></div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="model label title"></div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
      <!-- <div id="DialogSearchNodes" style="float:left;margin:16px 10px;"></div> -->
      <div id="ActionLoading" class="actionloading">::Loading::</div>
    </div>
    <div class="rightbox">
      <div id="ToolbarHeader" class="toolbar header"></div>
      <div id="ViewUser" class="block fright"></div>
    </div>
  </div>

  <div id="LayoutMain" class="layout main">

    <div id="DialogException"></div>

    <div id="LayoutMainCenter" class="layout main center" style="overflow:hidden;">
      <div id="LayoutMainCenterHeader" class="layout main center header">
        <div id="ToolbarMain"></div>
        <div id="DialogSectionsNavigator"></div>
      </div>
      <div id="LayoutMainCenterBody" class="layout main center body">
        <div class="messages">
          <div id="ActionDone" class="actiondone"></div>
        </div>
        <div id="NodesContainer"></div>
      </div>
      <div id="LayoutMainCenterFooter" class="layout main center footer">
        <div id="ToolbarMainFooter"></div>
      </div>
      <div id="ViewTaskList"></div>
      <div id="ViewTrash"></div>
      <div id="ViewDashboard"></div>
      <div id="ViewAnalysisboard"></div>
      <div id="ViewTeam"></div>
      <div id="ViewSourceList"></div>
      <div id="ViewSource"></div>
      <div id="ViewRoleList"></div>
      <div id="ViewRole"></div>
      <div id="ViewNotificationList"></div>
      <div id="ViewPageNews"></div>
    </div>

    <div id="LayoutMainRight" class="layout main right" style="height:100%;">
      <div id="TabPanelsMainRight" style="height:100%;">
        <div id="TabPanelMainRightHelper">
          <div id="ViewerHelperSideBar" class="viewer helper"></div>
        </div>
      </div>
    </div>

  </div>

  <div id="LayoutFooter" class="layout footer">
    <div class="leftbox">
      <div id="FooterLogosPanel">
        <img class="model image"/>
      </div>
      <div class="powered">powered by <span>Monet</span></div>
    </div>
    <div class="rightbox">
      <div id="ViewFurnitureSet"></div>
    </div>
  </div>

</div>