<div id="dlgCreateTask" class="dialog createtask">
  <div class="x-dlg-hd">::Title::</div>
  <div class="x-dlg-bd">
    <div id="dlgCreateTask.center" class="x-layout-inactive-content body">
      <div id="dlgCreateTask.status" class="status">
        <div class="template">
          <div class="x-box-tl">
            <div class="x-box-tr">
              <div class="x-box-tc"></div>
            </div>
          </div>
          <div class="x-box-ml">
            <div class="x-box-mr">
              <div class="x-box-mc"><h3 class="title"></h3><span class="summary"></span></div>
            </div>
          </div>
          <div class="x-box-bl">
            <div class="x-box-br">
              <div class="x-box-bc"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="outfield required">
        <div class="outtitle">::TaskTitle::</div>
        <div class="outbody">
          <input class="text" type="text" name="dlgCreateTask.title" id="dlgCreateTask.title"
                 onfocus="javascript:this.select()"></input>
        </div>
      </div>
      <div class="outfield required">
        <div class="outtitle">::TaskTypeList::</div>
        <div class="outbody"><input class="text" type="text" id="dlgCreateTask.tasklistinput"></input></div>
      </div>
    </div>
  </div>
</div>