<div class="dialog printentity" style="width:480px;">
  <table>
    <tr>
      <td class="header">
        <label>::Headers::</label>

        <table>
          <tr>
            <td><div class="outfield"><div class="outtitle">::Column:: 1</div></div></td>
            <td><div class="outbody"><select class="column"><option value="_none">::None::</option></select></div></td>
          </tr>
          <tr>
            <td><div class="outfield"><div class="outtitle">::Column:: 2</div></div></td>
            <td><div class="outbody"><select class="column"><option value="_none">::None::</option></select></div></td>
          </tr>
          <tr>
            <td><div class="outfield"><div class="outtitle">::Column:: 3</div></div></td>
            <td><div class="outbody"><select class="column"><option value="_none">::None::</option></select></div></td>
          </tr>
          <tr>
            <td><div class="outfield"><div class="outtitle">::Column:: 4</div></div></td>
            <td><div class="outbody"><select class="column"><option value="_none">::None::</option></select></div></td>
          </tr>
          <tr>
            <td><div class="outfield"><div class="outtitle">::Column:: 5</div></div></td>
            <td><div class="outbody"><select class="column"><option value="_none">::None::</option></select></div></td>
          </tr>
        </table>
      </td>
      <td class="range">
        <div class="label">
          <label>::Range::</label>
        </div>
        <table>
          <tr>
            <td>
              <div class="outfield">
                <div class="outtitle">::DateAttribute::</div>
                <div class="outbody">
                  <select class="date-attributes"></select>
                </div>
              </div>

              <div class="outfield">
                <div class="outtitle">::FromDate::</div>
                <div class="outbody"><input id="dlgPrintEntity.fromDate"/></div>
              </div>

              <div class="outfield">
                <div class="outtitle">::ToDate::</div>
                <div class="outbody"><input id="dlgPrintEntity.toDate"/></div>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <ul class="toolbar">
    <li><a class="behaviour button accept" href="#">::Accept::</a></li>
  </ul>
</div>