<div class="dialog selecttaskowner" style="width:380px;">

  <div class="tabs">
    <div class="tab tab_username">
      <input type="text" class="component"/>
      <div class="options"><a class="clearvalue" title="borrar"></a></div>
      <div class="grid" style="height:210px;width:100%;margin-top:5px;"></div>
    </div>

    <div class="tab tab_reason">
      <textarea rows="6" class="reason"></textarea>
    </div>
  </div>

  <ul class="toolbar">
    <li><a class="behaviour button accept" href="#">::Accept::</a></li>
  </ul>
</div>