<div id="dlgShareNode" class="dialog sharenode">
  <div class="x-dlg-hd">::Title::</div>
  <div class="x-dlg-bd">
    <div id="dlgShareNode.center" class="x-layout-inactive-content" style="padding:10px;">
      <div id="dlgShareNode.status" class="status">
        <div class="template">
          <div class="x-box-tl">
            <div class="x-box-tr">
              <div class="x-box-tc"></div>
            </div>
          </div>
          <div class="x-box-ml">
            <div class="x-box-mr">
              <div class="x-box-mc"><h3 class="title"></h3><span class="summary"></span></div>
            </div>
          </div>
          <div class="x-box-bl">
            <div class="x-box-br">
              <div class="x-box-bc"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="dlgShareNode.Info" class="x-layout-inactive-content" style="padding:10px;">
        <div class="outfield">
          <div class="outtitle">::Description::</div>
          <div class="outbody">
            <textarea rows="10" name="dlgShareNode.Description" id="dlgShareNode.Description"/></textarea>
          </div>
        </div>
        <div class="outfield">
          <div class="outtitle">::ExpireDate::</div>
          <div class="outbody">
            <input id="dlgShareNode.ExpireDate" name="dlgShareNode.ExpireDate" type="text"/>
          </div>
        </div>
      </div>
      <div id="dlgShareNode.Users" class="x-layout-inactive-content" style="padding:10px;">
        <table class="composition" cellspacing="10" cellpadding="10">
          <tr>
            <td width="290px">
              <div class="outfield">
                <div class="outtitle">::Users::</div>
                <div id="dlgShareNode.UserList" class="list">::NoUsers::</div>
              </div>
            </td>
            <td width="20px">&nbsp;</td>
            <td width="290px">
              <div id="dlgShareNode.DialogSearchUsers"></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>