<div id="dlgAlertEntity" class="dialog alertentity">
  <div class="x-dlg-hd">::Title::</div>
  <div class="x-dlg-bd">
    <div id="dlgAlertEntity.center" class="x-layout-inactive-content" style="padding:10px;">
      <div id="dlgAlertEntity.status" class="status">
        <div class="template">
          <div class="x-box-tl">
            <div class="x-box-tr">
              <div class="x-box-tc"></div>
            </div>
          </div>
          <div class="x-box-ml">
            <div class="x-box-mr">
              <div class="x-box-mc"><h3 class="title"></h3><span class="summary"></span></div>
            </div>
          </div>
          <div class="x-box-bl">
            <div class="x-box-br">
              <div class="x-box-bc"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="outfield">
        <div class="outtitle">::Message::</div>
        <textarea id="dlgAlertEntity.Message"></textarea>
      </div>
      <div class="outfield">
        <div class="outtitle">::Users::</div>
        <div id="dlgAlertEntity.UserList" class="list">::NoUsers::</div>
      </div>
      <div id="dlgAlertEntity.RoleUserTabs">
        <div id="dlgAlertEntity.UserTabs">
          <div id="dlgAlertEntity.DialogSearchUsers"></div>
        </div>
        <div id="dlgAlertEntity.RoleTabs">
          <div id="dlgAlertEntity.DialogSearchRoles"></div>
        </div>
      </div>
    </div>
  </div>
</div>