<div class="dialog editnodedocument">
  <div class="body">

    <div class="step 1 main">
      <div class="wizard title" style="display:none;">::Step1Wizard::</div>
      <div class="outtitle">::Step1Title:: (::Step1Wizard::)</div>
      <div class="outdescription">::Step1Description::</div>
      <div class="outbody">
        <div class="outfield">
          <a class="button download" href="javascript:void(null)">::DownloadDocument::</a>
          <a class="button continue" href="javascript:void(null)">::ContinueEdition::</a>
          <a class="cancel" href="javascript:void(null)">::CancelEdition::</a>
        </div>
      </div>
    </div>

    <div class="step 2">
      <div class="wizard title" style="display:none;">::Step2Wizard::</div>
      <div class="outtitle">::Step2Title:: (::Step2Wizard::)</div>
      <div class="outdescription">::Step2Description::</div>
      <div class="outbody">
        <div class="outfield">
          <a class="button download again" href="javascript:void(null)">::DownloadAgain::</a>
          <a class="cancel" href="javascript:void(null)">::CancelEdition::</a>
        </div>
      </div>
    </div>

    <div class="step 3">
      <div class="wizard title" style="display:none;">::Step3Wizard::</div>
      <div class="outtitle">::Step3Title:: (::Step3Wizard::)</div>
      <div class="outdescription">::Step3Description::</div>
      <div class="outbody">
        <div class="outfield">
          <a class="button replace" href="javascript:void(null)">::ReplaceDocument::</a>
          <a class="cancel" href="javascript:void(null)">::CancelEdition::</a>
        </div>
      </div>
    </div>

    <div class="step 4">
      <div class="wizard title" style="display:none;">::Step4Wizard::</div>
      <div class="outtitle">::Step4Title:: (::Step4Wizard::)</div>
      <div class="outdescription">::Step4Description::</div>
      <div class="outbody">
        <div class="outfield file">
          <form id="DialogEditNodeDocument.form">
            <input type="file" size="35" name="file" class="file"/>
          </form>
          <div id="dlgEditNodeDocument.status">
            <div class="title" style="display:none;"></div>
            <span class="summary" style="color:red;"></span></div>
        </div>
        <div class="outfield">
          <a class="button finish" href="javascript:void(null)">::FinishEdition::</a>
          <a class="cancel" href="javascript:void(null)">::CancelEdition::</a>
        </div>
      </div>
    </div>
  </div>
</div>