<div id="dlgRememberPreference" class="dialog rememberpreference">
  <div class="x-dlg-hd"><span id="dlgRememberPreference.title"></span></div>
  <div class="x-dlg-bd">
    <div id="dlgRememberPreference.center" class="x-layout-inactive-content body" style="padding:10px;">
      <div id="dlgRememberPreference.status" class="status">
        <div class="template">
          <div class="x-box-tl">
            <div class="x-box-tr">
              <div class="x-box-tc"></div>
            </div>
          </div>
          <div class="x-box-ml">
            <div class="x-box-mr">
              <div class="x-box-mc"><h3 class="title"></h3><span class="summary"></span></div>
            </div>
          </div>
          <div class="x-box-bl">
            <div class="x-box-br">
              <div class="x-box-bc"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="outfield">
        <div class="outtitle"><span id="dlgRememberPreference.description"></span></div>
        <div class="outbody">
          <div class="radio option">
            <input type="checkbox" name="dlgRememberPreference.remember" id="dlgRememberPreference.remember" value="true"/>
            <label for="dlgRememberPreference.remember"/>::RememberPreference::</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>