<span class="view user">
  <span id="Username" class="text">
    <a id="UsernameLabel" href="#" style="white-space:nowrap;"></a>
    <img class="toggle" src="::ImagesPath::/s.gif"/>
    <div id="UsernamePanel" class="panel username">
      <!--
        <div class="profile">
          <table width="100%">
            <tr>
              <td width="1%"><img class="photo" src="#"/></td>
              <td><div class="info">
                <div class="fullname"></div>
                <div class="email"></div>
                <ul class="toolbar"><li><a class="command editaccount">::EditProfile::</a></li></ul>
              </div></td>
            </tr>
          </table>
        </div>
         -->
      <ul class="options">
        <li class="section">
          <div class="title">::Units::</div>
          <ul class="units">::Loading::</ul>
        </li>
      </ul>
      <a class="command logout" href="logout()" title="::Logout::" id="cmdLogout" class="command">::Logout::</a>
    </div>
  </span>
</span>