<div class="block add">
  <div class="info">
    <div class="title">::Add::</div>
  </div>
  <ul></ul>
</div>
<div class="block observers"></div>
<div class="component">
  <div class="block editors"></div>
  <div class="block preview"></div>
  <div class="block list"></div>
  <div class="block revisionlist"></div>
  <div class="block map"></div>
  <div class="block source"></div>
  <div class="block role"></div>
</div>
<div class="block tools">
  <div class="info">
    <div class="title">::Tools::</div>
  </div>
  <ul></ul>
</div>
<div class="block chat"></div>
<div class="block help"></div>