<div class="view map-layer">
    <div class='toolbar'>
        <div class="loading-map">::Loading::</div>
        <div class="navigator">
            <span><a class='command previous air'>::Previous::</a></span>
            <span class="air"><span style="margin-right:5px;">::Page::</span> <span class="page"></span>/<span class='count'></span></span>
            <span class="air"><a class='command next'>::Next::</a></span>
        </div>
    </div>
    <div class="map-container" style="height:calc(100% - 25px);width:100%"></div>
</div>