<ul>
  <li><a class="op point" href="javascript:void(null)">::AddPoint::</a></li>
  <li><a class="op line" href="javascript:void(null)">::AddLine::</a></li>
  <li><a class="op poly" href="javascript:void(null)">::AddPolygon::</a></li>
  <li><a class="op clean" href="javascript:void(null)">::CleanLocation::</a></li>
  <li><a class="op finish" href="javascript:void(null)">::FinishEditingLocation::</a></li>
  <li><a class="op cancel" href="javascript:void(null)">::CancelEditingLocation::</a></li>
</ul>
