.DS_Store
/.idea/workspace.xml
/applications/metacompiler/core/build/classes
/applications/metacompiler/core/bin
/applications/businessenvironment/server/WebContent/WEB-INF/classes
/applications/businessenvironment/server/WebContent/WEB-INF/web.xml
/applications/businessenvironment/server/.settings/org.eclipse.wst.common.project.facet.core.xml
/applications/businessenvironment/server/.classpath
/applications/backmobile/_source/bin
/applications/backmobile/_test/bin
/applications/backmobile/_test/gen
/applications/backmobile/_source/gen
/applications/backmobile/_server/build/classes
/applications/docservice/server/WebContent/WEB-INF/classes
/applications/docservice/tests/bin
/applications/businessenvironment/client/office/listviewer.php
/applications/businessenvironment/client/office/listviewer
/applications/modelcompiler/core/bin
/applications/modeleditor/org.monet.modelling.compiler/bin
/applications/modeleditor/org.monet.modelling.updatesite/plugins
/applications/modeleditor/org.monet.modelling.updatesite/logs.zip
/applications/modeleditor/org.monet.modelling.updatesite/features
/applications/modeleditor/org.monet.modelling.kernel/bin
/applications/modeleditor/org.monet.modelling.library/bin
/applications/modeleditor/org.monet.modelling.localupdatesite/plugins
/applications/modeleditor/org.monet.modelling.localupdatesite/features
/applications/docservice/server/WebContent/META-INF/context.xml
/applications/federationservice/server/build/classes
/applications/federationservice/server/WzebContent/META-INF/context.xml
/out
*.class
/*.DS_Store
applications/space/client/explorer/Explorer/web/themes/**/*.css*
Application.gwt.xml
.idea/dataSources.local.xml
applications/space/client/explorer/.idea/workspace.xml
applications/space/client/explorer/Cosmos/Cosmos.iml
applications/space/client/explorer/Cosmos.Gwt/Cosmos.Gwt.iml
applications/space/client/explorer/Explorer/Explorer.iml
applications/space/server/build_resources
workspace.xml
_develop/_explorer/out
applications/space/client/explorer/Explorer/web/themes/.sass-cache
applications/space/client/explorer/Explorer/web/.sass-cache
_develop/_space/out
_develop/_docservice/out
_develop/_federation/out
_develop/_mobile/out
*.directory
applications/space/server/target
utils/oclient/out
_develop/_space/.idea/libraries
*.bak
applications/deployservice/server/.idea/libraries
Guía de uso del directorio corporativo de la ULPGC.pdf
.idea/libraries
