 
.x-layout-collapsed-west {
   background-image: url('../images/layout/collapse-west-bg.en.gif');
   background-repeat:no-repeat;
   background-position:center;
}
 
.x-layout-collapsed-east {
   background-image: url('../images/layout/collapse-east-bg.en.gif');
   background-repeat:no-repeat;
   background-position:center;
}

