.system, .systemview {
  background: none repeat scroll 0 0 #EEEEEE;
  border-radius: 10px 10px 10px 10px;
  font-size: 13px;
  margin: 10px 0;
  padding: 10px;
}

.unreachable a, .unreachable a:hover, .unreachable .message {
	color: #666666;
	cursor: default;
}

.unreachable .message {
  font-size: 13px;
}