
.add-space-dialog {
  margin-top: 20px;
}

.add-space-dialog form {
  padding-left: 11px;
}


.add-space-dialog .title {
 font-size: 11pt;
 font-weight: normal;
 border-bottom: 1px dotted gray;
 margin-top: 5px;
 margin-bottom: 10px;
}

.add-space-dialog div.meta {
  display: block;
}

.add-space-dialog .toolbar {
  margin-top: 5px;
}

.add-space-dialog form input[type="text"] {
  width: 98%;
}

.add-space-dialog form select {
  width: 260px;
  height: 25px;
}
