
.add-server-dialog form {
  padding-left: 11px;
}

.add-server-dialog .title {
 font-size: 11pt;
 font-weight: normal;
 border-bottom: 1px solid #C6C6C6;
 margin-top: 5px;
 margin-bottom: 10px;
}

.add-server-dialog div.meta {
  display: block;
}

.add-server-dialog .toolbar {
  margin-top: 5px;
}

.add-server-dialog form input[type="text"] {
  width: 98%;
}