<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <!-- Database Configuration -->
  <entry key="Jdbc.Database">mysql</entry>
  <entry key="Jdbc.DataSource">jdbc/MonetDatabaseSource</entry>

  <!--
  <entry key="Jdbc.Database">oracle</entry>
  <entry key="Jdbc.DataSource">MonetDatabaseSource</entry>
  -->

  <!-- Path Configuration -->
  <entry key="Path.TrueTypeFonts">C:/Windows/Fonts</entry>
  <entry key="Path.Temp">C:/Windows/Temp</entry>

  <!-- Work Queue -->
  <entry key="WorkQueue.ThreadPoolSize">1</entry>
  <entry key="WorkQueue.CollectWorkPeriod">5</entry>

  <!-- Document Previews Cleaner -->
  <entry key="Document.PreviewsCacheSizeInDays">120</entry>

  <!-- Document Disks separated by comma -->
  <entry key="Document.Disks"></entry>

  <!-- Pdf Converter Configuration -->
  <entry key="GeneratePdfA">false</entry>
  <entry key="PdfLicencePath"></entry>

  <!-- Model producer -->
  <entry key="ModelProducerClass">org.monet.docservice.docprocessor.templates.impl.ImplicitModelProducer</entry>

  <!-- Signs Configuration -->
  <entry key="Sign.Height">100</entry>
  <entry key="Sign.OffsetX">50</entry>
  <entry key="Sign.OffsetY">650</entry>
  <entry key="Sign.Count">3</entry>
</properties>
