<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- DATABASE -->  
	<entry key="DATABASE_TYPE">mysql</entry>
	<entry key="DATABASE_DATASOURCE">jdbc/GridedDatabaseSource</entry>
  	
	<!-- FILE STORE -->
    <entry key="DATA_STORE_PATH">#store path#</entry>	
    <entry key="TEMP_PATH">#temp directory for grided#</entry>	
	
	<!-- LANGUAGE -->  
	<entry key="LANGUAGE">en</entry>
    <entry key="LANGUAGE_FOLDER">languages</entry>
	
	<!-- CERTIFICATE -->  
	<entry key="CERTIFICATE_FILENAME">certificateFilename</entry>
    <entry key="CERTIFICATE_PASSWORD">certificatePassword</entry>    
    
	<!-- AUTHORIZATION DATA -->  
    <entry key="SETUP_API_KEY">default</entry>
    <entry key="SETUP_API_SECRET">1234</entry>
    <entry key="SETUP_FEDERATION_SERVICE">localhost</entry>
    <entry key="SETUP_FEDERATION_SOCKET_PORT">5348</entry>  
    <entry key="SETUP_FEDERATION_SERVICE_PORT">8080</entry>
    <entry key="SETUP_FEDERATION_BASE_PATH">/federation</entry>
    <entry key="SETUP_FEDERATION_SSL_MODE">false</entry>

</properties>
