<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <entry key="log4j.rootCategory">INFO, CA, LoginServiceFileAppender</entry>
  
  <!-- Console appender -->
  <entry key="log4j.appender.CA">org.apache.log4j.ConsoleAppender</entry>
  <entry key="log4j.appender.CA.layout">org.apache.log4j.PatternLayout</entry>
  <entry key="log4j.appender.CA.layout.ConversionPattern">%d{dd MMM yyyy HH:mm:ss,SSS} %-5p %c %x [%c{1}:%L] %m%n</entry>

  <!-- File appender -->
  <entry key="log4j.appender.LoginServiceFileAppender">org.apache.log4j.RollingFileAppender</entry>
  <entry key="log4j.appender.LoginServiceFileAppender.layout">org.apache.log4j.PatternLayout</entry>
  <entry key="log4j.appender.LoginServiceFileAppender.layout.ConversionPattern">%d{dd MMM yyyy HH:mm:ss,SSS} %-5p %c %x [%c{1}:%L] %m%n</entry>
  <entry key="log4j.appender.LoginServiceFileAppender.file">#config_path#/logs/grided.log</entry>

</properties>
