<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
  <display-name>monet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.monet.space.kernel.listeners.ListenerSession</listener-class>
  </listener>
  <listener>
    <listener-class>org.monet.space.kernel.listeners.ListenerContext</listener-class>
  </listener>
  <listener>
    <listener-class>org.monet.space.explorer.injection.ServletContextListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>3600</session-timeout>
  </session-config>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/service/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/mobile/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/explorer/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>guiceFilter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>guiceFilter</filter-name>
    <url-pattern>/servlet/reports/*</url-pattern>
  </filter-mapping>

  <servlet>
    <description>launcher</description>
    <display-name>launcher</display-name>
    <servlet-name>launcher</servlet-name>
    <servlet-class>org.monet.space.launcher.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>launcher</servlet-name>
    <url-pattern>/servlet/launcher.app</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>office</description>
    <display-name>office</display-name>
    <servlet-name>office</servlet-name>
    <servlet-class>org.monet.space.office.control.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>office</servlet-name>
    <url-pattern>/office</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>office</servlet-name>
    <url-pattern>/servlet/office</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>office</servlet-name>
    <url-pattern>/servlet/office.api</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>office</servlet-name>
    <url-pattern>/servlet/office.load</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>office</servlet-name>
    <url-pattern>/servlet/office.app</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>office.push</description>
    <display-name>office.push</display-name>
    <servlet-name>office.push</servlet-name>
    <servlet-class>org.monet.space.office.control.PushController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>office.push</servlet-name>
    <url-pattern>/servlet/office.push</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>Servicio para la descarga de la aplicación de firma en cliente</description>
    <servlet-name>DownloadService</servlet-name>
    <servlet-class>cotton.signatory.services.servlets.DownloadHttpService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadService</servlet-name>
    <url-pattern>/servlet/signatory/app/*</url-pattern>
    <url-pattern>/servlet/signatory/file/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servicio para la recuperacion de firmas v1.1</description>
    <servlet-name>RetrieveService</servlet-name>
    <servlet-class>cotton.signatory.services.servlets.RetrieveHttpService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveService</servlet-name>
    <url-pattern>/servlet/signatory/retrieve/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servicio de almacenamiento temporal de firmas v1.2</description>
    <servlet-name>StorageService</servlet-name>
    <servlet-class>cotton.signatory.services.servlets.StorageHttpService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StorageService</servlet-name>
    <url-pattern>/servlet/signatory/store/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servicio para obtener información proveniente de la firma</description>
    <servlet-name>SignatureService</servlet-name>
    <servlet-class>cotton.signatory.services.servlets.SignatureHttpService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignatureService</servlet-name>
    <url-pattern>/servlet/signatory/signature/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>explorer</description>
    <display-name>explorer</display-name>
    <servlet-name>explorer</servlet-name>
    <servlet-class>org.monet.space.explorer.control.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>explorer</servlet-name>
    <url-pattern>/explorer/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>explorer</servlet-name>
    <url-pattern>/servlet/explorer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>explorer</servlet-name>
    <url-pattern>/servlet/explorer/api</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>explorer.push</description>
    <display-name>explorer.push</display-name>
    <servlet-name>explorer.push</servlet-name>
    <servlet-class>org.monet.space.explorer.control.PushController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>explorer.push</servlet-name>
    <url-pattern>/servlet/explorer/push</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>mobile</description>
    <display-name>mobile</display-name>
    <servlet-name>mobile</servlet-name>
    <servlet-class>org.monet.space.mobile.control.Controller</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>mobile</servlet-name>
    <url-pattern>/servlet/mobile/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>analytics</description>
    <display-name>analytics</display-name>
    <servlet-name>analytics</servlet-name>
    <servlet-class>org.monet.space.analytics.control.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>analytics</servlet-name>
    <url-pattern>/analytics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>analytics</servlet-name>
    <url-pattern>/servlet/analytics</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>setup</description>
    <display-name>setup</display-name>
    <servlet-name>setup</servlet-name>
    <servlet-class>org.monet.space.setup.control.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setup</servlet-name>
    <url-pattern>/setup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>setup</servlet-name>
    <url-pattern>/servlet/setup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>setup</servlet-name>
    <url-pattern>/servlet/setup.api</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>setup</servlet-name>
    <url-pattern>/servlet/setup.load</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>setup</servlet-name>
    <url-pattern>/servlet/setup.app</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>setupservice</description>
    <display-name>setupservice</display-name>
    <servlet-name>setupservice</servlet-name>
    <servlet-class>org.monet.space.setupservice.control.Controller</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>setupservice</servlet-name>
    <url-pattern>/servlet/setupservice</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>frontservice</description>
    <display-name>frontservice</display-name>
    <servlet-name>frontservice</servlet-name>
    <servlet-class>org.monet.space.frontservice.control.Controller</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>frontservice</servlet-name>
    <url-pattern>/frontservice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>frontservice</servlet-name>
    <url-pattern>/servlet/frontservice</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>backservice</description>
    <display-name>backservice</display-name>
    <servlet-name>backservice</servlet-name>
    <servlet-class>org.monet.space.backservice.control.Controller</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>backservice</servlet-name>
    <url-pattern>/servlet/backservice</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>mailservice</description>
    <display-name>mailservice</display-name>
    <servlet-name>mailservice</servlet-name>
    <servlet-class>org.monet.space.mailservice.control.Controller</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>mailservice</servlet-name>
    <url-pattern>/servlet/mailservice</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>fms</description>
    <display-name>fms</display-name>
    <servlet-name>fms</servlet-name>
    <servlet-class>org.monet.space.fms.control.Controller</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>fms</servlet-name>
    <url-pattern>/servlet/fms/*</url-pattern>
  </servlet-mapping>

</web-app>