html, body, input, table, td, select, options, textarea {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

h1 {
  font-size: 18pt;
  font-weight: normal;
  padding-bottom: 4px;
}

h2 {
  font-size: 16pt;
  font-weight: normal;
  padding-bottom: 5px;
}

h3 {
  font-size: 14pt;
  font-weight: normal;
  padding-bottom: 3px;
  margin-top: 5px;
  background: url(images/img_dottedline.gif) repeat-x 0 bottom;
}

p {
  line-height: 120%;
  padding-bottom: 12px;
}

ul {
  list-style: none;
}

.highlighted {
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.command {
  color: #0d3c98;
}

.command.default {
  font-weight: bold;
}

.command:hover {
  color: #0d3c98;
}

.behaviour {
  color: #0d3c98;
}

.behaviour:hover {
  color: #0d3c98;
}

.link {
  color: #0d3c98;
}

.link:hover {
  color: #0d3c98;
}