#image-viewer .viewport-border {
  padding: 20px;
 -webkit-box-shadow: 0 0 10px rgb(180,180,180); 
 -moz-box-shadow: 0 0 10px rgb(180,180,180); 
 box-shadow: 0 0 10px rgb(180,180,180);  
}

#image-viewer .viewport {
  text-align: center
}

#image-viewer .viewer-footer {
  background-color: #F5F5F5;
  text-align: right;
}

#image-viewer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
  top: 20%;
  width: 500px;
  z-index: 2;
  background-color: #F5F5F5;
}