<?xml version="1.0" encoding="UTF-8"?>
<classpath>
	<classpathentry kind="src" path="src"/>
	<classpathentry kind="src" path="grided-resources"/>
	<classpathentry kind="src" path="resources"/>
	<classpathentry kind="con" path="org.eclipse.jdt.launching.JRE_CONTAINER"/>
	<classpathentry combineaccessrules="false" kind="src" path="/grided"/>
	<classpathentry kind="lib" path="lib/junit-4.8.1.jar"/>
	<classpathentry kind="lib" path="lib/mockito-all-1.8.2.jar"/>
	<classpathentry kind="lib" path="lib/mysql-connector-java-5.1.12-bin.jar"/>
	<classpathentry kind="lib" path="lib/dbunit-2.4.8.jar"/>
	<classpathentry kind="lib" path="lib/slf4j-api-1.6.1.jar"/>
	<classpathentry kind="lib" path="lib/slf4j-log4j12-1.6.1.jar"/>
	<classpathentry kind="output" path="bin"/>
</classpath>
