<!-- <div id="LoadingMask" style="width:100%;height:97%;position:absolute;z-index:20000;left:0;top:0;">&#160;</div> -->

<div id="Desktop" class="Desktop">
  <iframe id="frameHistory" name="frameHistory" class="history" ></iframe>  
  <div id="error_panel" class="error_panel"></div>  
  <div id="dialog-exception"></div>
   
  <table width="100%" height="100%">
    <tr id="LayoutTop" height="1">
      <td width="80%" style="padding-top:5px;">                     
        <img id="app-logo" class="logo" src="../setup/images/monet-logo.png" alt="Monet" title="Monet"/>                             
        <div id="monet-version">2.0</div>        
        <div class="app-title">Business Space Setup</div>
      </td>                                                            
      <td>                     
        <div id="toolbar"></div>                                 
      </td>
    </tr>
    <tr>
      <td colspan="2" id="LayoutBottom" width="100%" height="100%" class="layout bottom">
        <div id="desktop-title-bar">
          <a href="" class="org-name" target="_blank"></a><span class="separator">/</span><a href="" class="unit-name" target="_blank"></a>
        </div>
        
        <div id="loading-bar"><div class="loading">::Loading::</div></div>
        <div id="image-viewer"></div>
        <div id="wizard-dialog-update-space"></div>
        <div id="dialog-modal"></div>                                
        <div id="progress-import-dialog"></div>                             	                  	        			                                                      		  
                                  
        <div id="ViewsContainer" class="viewscontainer">                    
          <div id="bottom-layout-tabs">            
          <div id="SpaceTab" class="tab-content"></div>
          <div id="ThesaurusTab" class="tab-content"></div>
          <div id="ProvidersTab" class="tab-content"></div>
          <div id="ConsoleTab" class="tab-content"></div>                                                 
        </div>                                                 
        </div>
      </td>
    </tr>
  </table>

</div>