<div class="layout panel left">
<div id="dlgUpdateBusinessSpace" class="updatebusinessspace">
  <a href="" name="back-button">::back::</a>
  
  <div class="dialog-container">
    <div class="dialog-header">::update_business_space::</div>
    <div class="dialog-body">
      <form method="post" enctype="multipart/form-data">                  
        <input type="file" name="source" title="::title::"></input>                   
      </form>      
    </div>
    <div class="dialog-footer">
      <input type="button" name="update-button" value="::upload::" />      
    </div>    
  </div>  
</div>
</div>
