<div class="dialog-container">
  <div class="dialog-header">
    <div class="title"></div>
  </div>
  
  <div class="dialog-body">
    <div class="message meta"></div>   
    <div>
      <div><span class="meta">::progress::</span><span class="value bold"></span></div> 
      <div><span class="meta">::imported_nodes::</span><span class="imported-nodes bold"></span></div> 
      <div><span class="meta">::time::</span><span class="time bold"></span></div> 
      <div><span class="meta">::estimated_time::</span><span class="estimated-time bold"></span></div>       
    </div>    
  </div>
  
<!--   <div id="progress-bar"></div> -->

  <div class="dialog-footer">
    <input type="button" name="abort-button"  value="::abort::" />
  </div>
</div>