<div id="dialog-import-thesaurus">
<div class="dialog-content">
  <div class="error"></div>     
  <div> 
    <form id="importthesaurus" class="form" method="post" enctype="multipart/form-data">         
      <div><span class="meta">::thesaurus::</span><select name="code" class="thesaurus"></select></div>                                                                           
      <div><span class="meta">::terms_file::</span><input class="file" type="file" name="source"></input></div>
    </form>
  </div> 
  <div class="meta message"></div>
<div>     
</div>