<div id="dialog-new-term" class="dialog-content">           
  <div class="error"></div>
  <div class="message"></div>  
  <table>
    <tr><td><span>::code::</span></td><td><input type="text" name='code' class="code"/></td></tr>
    <tr><td><span>::value::</span></td><td><input type="text" name='value' class="value"/></td></tr>
    <tr><td><span>::parent::</span></td><td><input type="text" name='parent' class="parent"/></td></tr>
    <tr><td><span>::enabled::</span></td><td><select name='enabled' class="enabled"><option value="yes">Si</option><option value="false">No</option></select></td></tr>
  </table>  
<div>