<div class="dialog-container">
  <div class="dialog-header">
    <div class="title"></div>
  </div>
  
  <div class="dialog-body"> 
    <div class="message meta"></div>
    <div class="error">
      <div class="label"></div>
      <div class="description"></div>
    </div>
    <div class="summary">
      <div>
        <span class="meta">::imported_nodes::</span>
        <span class="bold" name="imported_nodes"></span>
      </div>
      <div>
        <span class="meta">::time::</span>
        <span class="bold" name="time"></span>
      </div>
    </div>
  </div>
  
  <div class="dialog-footer right">
    <input type="button" name="close-button" value="::close::" class="close-button" />
  </div>
</div>