<div class="layout panel left"> 
  <div class="model-content">
    <div><a href=""><img src="" class="top-image" title="::image-title::"></img></a></div>
    <table>
      <tr>
        <td><span class="meta">::business_model::</span></td>
        <td><span class="model-label"/></td>
        <td class="right"><a href="" class="update-model" title="::update_model_title::">::update::</a></td>               
      </tr>      
      <tr>
        <td><span class="meta">::business_model_version::</span></td>
        <td><span class="model-version" title="::model_version_title::"/></td>        
      </tr>
      <tr>
        <td><span class="meta">::last_update::</span></td>
        <td><span class="last-update" title="::last_update_title::"/></td>        
      </tr>            
                  
    </table>    
<!--     <div><img src="" class="initial-image" title="::initial-title::"></img></div>       -->
  </div>             
</div> 
