<table class="layout">
  <tr>
    <td class="panel left">
      <div class="meta message"></div>
      <div><span class="meta">::space_state::</span><span name="state-text"></span></div>    
      <div class="button-box">
        <input type="button" class="button run-button"></input>
      </div>
      <div><span name="date-text-label" class="meta">::started_at::</span></div>
      <div name="date-text"></div>
    </td>
    <td class="panel right">  
      <div id="import-panel"></div>
    </td>
  </tr>
</table>