<div id="ViewEventLogGrid" class="view eventlog">
  <div class="title">::ViewEventLogTitle::</div>
  <div class="x-box-tl">
    <div class="x-box-tr">
      <div class="x-box-tc"></div>
    </div>
  </div>
  <div class="x-box-ml">
    <div class="x-box-mr">
      <div class="x-box-mc" id="box-bd">
        <div id="ToolbarEventLogGrid" class="toolbar"></div>
        <div id="GridOfEventLog"></div>
        <div id="EventDetails"></div>
      </div>
    </div>
  </div>
  <div class="x-box-bl">
    <div class="x-box-br">
      <div class="x-box-bc"></div>
    </div>
  </div>
</div>