<table class="layout">
  <tr>
    <td class="panel left">
      <div class="space-content">
      
        <img src="" class="top-image" title="::image-title::"></img>
        
        <div class="definition"><span class="meta">::business_space::</span><span><a href="" name="update-space">::update::</a></span></div>
        <div class="value"><a href="" name="business-unit"></a></div>
        
        <div class="definition"><span class="meta">::organization::</span></div>
        <div class="value"><a href="" name="space-organization" target="_blank"></a></div>
        
        <div class="definition"><span class="meta">::business_model::</span><span><a href="" name="update-model">::update::</a></span></div>
        <div class="value"><p name="business-model"></p></div>        
             
        <div class="definition"><span class="meta">::last_update::</span></div>
        <div class="value"><span class="last-update" title="::last_update_title::"/></div>            
      </div>             
    </td>
    <td class="panel right">
      <div id="front"></div>
    </td>
  </tr>
</table>