.dialog.zoom ul li {
	background: none repeat scroll 0 0 white;
	border-color: #AAAAAA;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	float: left;
	font-size: 11px;
	margin-right: 4px;
	padding: 2px 6px;
	text-align: center;
}

.dialog.zoom ul li:hover {
  background: #f9f9f9;
}

.dialog.zoom ul li a {
  cursor: pointer;
}