.view.map.chart .dialogtimelapse {
	margin: 10px auto;
	text-align: center;
	display: block;
}

.view.map.chart .dialogtimelapse, .view.map.chart .canvas, .view.map.chart .dialogrange {
	width: 90%;
}

.view.map.chart .canvas {
  margin: 0 auto;
}

.view.map.chart .dialogrange {
  margin: 0 auto 0;
}

.view.map.chart .dialoglayer {
  margin-right: 120px;
  margin-top: 5px;
  position: absolute;
  top: 0;
}