defrule type(Logout)
  <html>

    $Header

    <body onload="load()">

      <div class="layout">
        <div>
          <img class="displayed" src="$federationLogoOriginal~" alt="$federationLabel" title="$federationLabel"/>
        </div>

        <form method="post" id="formLogout" class="box" action="$logoutAction">
          <table class="dialogs">
            <tr>
              <td class="logout dialog" style="width:70%;">
                <h1>$userNotGrantedLabel</h1>

                <div class="tab_container">
                  <div class="tab_content">
                    <table border="0" width="100%">
                      <tr>
                        <td width="100%">
                          <div class="HELP">$userNotGrantedMessage</div>
                        </td>
                      </tr>
                    </table>
                    <div class="buttons">
                      <button class="button login" type="submit">$logout</button>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr height="21px">
              <td>
                <div class="powered">powered by
                  <italic>Monet</italic>
                </div>
              </td>
            </tr>
          </table>
        </form>
        <span class="copyright">&copy; $currentYear $allRightsReserved</span>
      </div>

    </body>

  </html>
endrule