.collection-view-list-widget table.search, .collection-view-list-widget table.search
  width: 100%

.collection-view-list-widget table.search td.label, .collection-view-list-widget table.search td.label
  width: 70px
  font-size: small !important
  text-align: center

.collection-view-list-widget table.search input, .collection-view-list-widget table.search input
  width: 100%
  font-size: small !important

.collection-view-list-widget .shows
  height: 150px