<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="CertificateAuthority.Identifier"></entry>
	<entry key="CertificateAuthority.Password">1234567</entry>
	<entry key="CertificateAuthority.File">rootCA.p7b</entry>

	<entry key="Certificate.File">federation.p12</entry>
	<entry key="Certificate.Password">1234</entry>

	<entry key="Jdbc.Database">mysql</entry>
	<entry key="Jdbc.DataSource">jdbc/AccountOfficeServiceDatabaseSource</entry>
	
	<entry key="Socket.Host">127.0.0.1</entry>
	<entry key="Socket.Port">5348</entry>
	<entry key="Socket.MaxSessions">100</entry>
	<entry key="Socket.AllowedAddresses">127.0.0.1</entry> <!-- Ip addresses separated by comma -->
	
	<entry key="Smtp.Hostname">smtp.gmail.com</entry>
	<entry key="Smtp.Port">587</entry>
	<entry key="Smtp.User"></entry>
	<entry key="Smtp.Password"></entry>
	<entry key="Smtp.UseTLS">true</entry>
	<entry key="Smtp.UseSSL">true</entry>
	<entry key="Smtp.Email.From"></entry>
	<entry key="Smtp.Email.To">admin@monet.com</entry>

	<entry key="Name">local_federation</entry>
	<entry key="Version">3.0.1</entry>
	<entry key="Autostart">true</entry>
	<entry key="InactivityTime">1200</entry> <!-- seconds -->
	<entry key="MaxRememberTime">10</entry> <!--  days   -->
	<entry key="MaxSessions">100</entry>
	<entry key="SuspendTime">900</entry> <!-- seconds -->
	<entry key="RemoveSuspendTime">7200</entry> <!-- seconds -->
	<entry key="SignTimestampInterval">60</entry> <!-- seconds -->

    <entry key="Mobile.PushApi.Key">AIzaSyBG6uhpiu7wxOzDH5qH08ZXe9WoMYWVwoE</entry>    
	<entry key="Mobile.FCM.SettingsFile">/Users/mcaballero/.monet-3.2/fcm.xml</entry>
  	<entry key="Mobile.FCM.ProjectId">monet</entry>
</properties>