<div class="dialog add-federation-dialog">
  <div class="message"></div>
  
  <div class="title">::add_federations::</div>
  <form name="add-federation" method="post">                                 
    <div class="meta">::name::</div><input type="text" name="name"></input>                   
    <div class="meta">::url::</div><input type="text" name="url"></input>                   

    <div class="toolbar">
      <input type="button" name="add-button" value="::add::"></input>
    </div>     
  </form>
  
</div>