<div class="dialog add-space-dialog"> 
  <div class="message"></div>
  <div class="title">::add_spaces::</div>
  
  <form name="add-space" method="post">                                 
    <div class="meta">::name::</div><input type="text" name="name"></input>
    <div class="meta">::url::</div><input type="text" name="url"></input>
    <div class="meta">::model::</div><select name="models"></select>    
                         
    <div class="toolbar">
      <input type="button" name="add-button" value="::add::"></input>
    </div>     
  </form>  
</div>  
  
  