
<div class="meta">::url::</div><input type="password" name="url" value="<%= connection.url %>" />
<div class="meta">::user::</div><input type="text" name="user" value="<%= connection.user %>" />
<div class="meta">::password::</div><input type="password" name="password" value="<%= connection.password %>" />

<div class="meta">::engine::</div>
<select name="engine">
  <option value='0'>MYSQL</option>
  <option value='1'>ORACLE</option>
</select>

<div class="meta">::encrypt::</div>
<select name="encrypt">
  <option value='0'>RSA</option>
  <option value='1'>...</option>
</select>

  
  

