
<div class="loading-spaces">.</div>

<div id="federations-viewer">
  <div class="meta italic">::federations::</div>
  <div class="table"></div>  
  <div class="toolbar">      
    <input type="button" name="remove_button" value="::remove::"/>
  </div>   
</div>

<div id="spaces-viewer">
  <div class="meta italic">::spaces::</div> 
  <div class="table"></div>  
  <div class="toolbar">      
    <input type="button" name="remove_button" value="::remove::"/>
  </div> 
</div>

<div id="dialogs-bar">
  <div class="select-server-dialog"></div>
  <div class="add-federation-dialog"></div>
  <div class="new-space-dialog"></div>
</div>  