<div id="desktop">
<div id="notification-bar"></div>
<div id="dialog-exception"></div>
<div id="dialog"></div>

<div id="header-panel">
  <div id="app-logo">grided</div>
  <div id="navigation-bar">
    <div class="nav-item">
      <a href="" name="::home::">::home::</a>
    </div>
    <div class="nav-item">
      <a href="" name="::servers::">::servers::</a>
    </div>
    <div class="nav-item">
      <a href="" name="::models::">::models::</a>
    </div>
    <div class="nav-item">
      <a href="" name="::deployment::">::deployment::</a>
    </div>
  </div>

  <div id="toolbar">
    <div class="account-menu">
      <div class="menu-title"></div>
      <div class="menu-body">
        <ul></ul>
      </div>
    </div>
  </div>
</div>

<div id="navigation-panel"></div>

<div id="content-panel">
  <div id="servers-view"></div>
  <div id="server-view"></div>
  <div id="deployment-view"></div>
  <div id="federation-view"></div>
  <div id="space-view"></div>
  <div id="models-view"></div>
  <div id="model-view"></div>
</div>
</div>