
<div class="meta">::url::</div><input type="password" name="url" value="<%= connection.url %>" />
<div class="meta">::user::</div><input type="text" name="user" value="<%= connection.user %>" />
<div class="meta">::password::</div><input type="password" name="password" value="<%= connection.password %>" />
<div class="meta">::name_field::</div><input type="text" name="name_field" value="<%= connection.name_field %>" />
<div class="meta">::mail_field::</div><input type="text" name="mail_field" value="<%= connection.mail_field %>" />

  
  

