Debug=false

User=admin
Password=

ServerUDP=false
SendUDPInterface=eth1
SendUDPInterval=2000
Port=4323

FileServersXML=servers.xml
FileDocServersXML=docservers.xml
DirTemp=/tmp

DirConfigMonet=WEB-INF/user_data
FileDbMysqlMonetClean=WEB-INF/classes/kernel/database/mysql.clean.sql
FileDbMysqlMonet=WEB-INF/classes/kernel/database/mysql.sql
FileDbOracleMonetClean=WEB-INF/classes/kernel/database/oracle.clean.sql
FileDbOracleMonet=WEB-INF/classes/kernel/database/oracle.sql

DirConfigDocServer=WEB-INF/user_data
FileConfigDocServer=docservice.dist.config
FileLog4jDocServer=log4j.docservice.dist.config
FileDbMysqlDocServerClean=WEB-INF/classes/database/mysql.clean.sql
FileDbMysqlDocServer=WEB-INF/classes/database/mysql.sql
FileDbOracleDocServerClean=WEB-INF/classes/database/oracle.clean.sql
FileDbOracleDocServer=WEB-INF/classes/database/oracle.sql

UpdateUrl=http://files.openmonet.com/app/3.1
UpdateManagerName=deployservice_manager.war
UpdateManagerPath=/opt/tomcat-public/webapps

ResourceMysql=<Resource auth="Container" driverClassName="com.mysql.jdbc.Driver" global="jdbc/MonetDatabaseSource" maxActive="15" maxIdle="2" maxWait="30000" name="jdbc/MonetDatabaseSource" password="#password#" type="javax.sql.DataSource" url="#url#" username="#username#" removeAbandoned="true" removeAbandonedTimeout="5" logAbandoned="true" accessToUnderlyingConnectionAllowed="true" validationQuery="SELECT 1" validationQueryTimeout="10" validationInterval="10000" testOnBorrow="true" />
ResourceOracle=<Resource auth="Container" driverClassName="oracle.jdbc.OracleDriver" global="jdbc/MonetDatabaseSource" maxActive="15" maxIdle="2" maxWait="30000" name="jdbc/MonetDatabaseSource" password="#password#" type="javax.sql.DataSource" url="#url#" username="#username#" removeAbandoned="true" removeAbandonedTimeout="5" logAbandoned="true" accessToUnderlyingConnectionAllowed="true" validationQuery="select 1 from dual" validationQueryTimeout="10" validationInterval="10000" testOnBorrow="true" />

FileConfigSetup=setup.dist.config

FileDocServiceWar=docservice.war

FileConfigSpace=space.dist.xml
MonetSpaceSecret=1234

FileCertificateSpace=monet.p12
FileCertificateSpacePassword=1234

MailAdminSpaceHost=smtp.gmail.com
MailAdminSpaceFrom=externa.monet@gmail.com
MailAdminSpaceTo=externa.monet@gmail.com
MailAdminSpaceUsername=externa.monet
MailAdminSpacePassword=rangmene
MailAdminSpacePort=465
MailAdminSpaceSecure=true

UpdateManagerDestName=deployservice_manager.war

MonetVersion=3.2
FileMonetWar=monet.war
FileConfigMonetKernel=configuration/monet.dist.config
FileConfigMonetBackoffice=
FileConfigMonetBoot=
FileConfigMonetConsole=
FileConfigMonetManager=
FileLog4jMonet=configuration/log4j.dist.config
FileConfigMonetCache=configuration/cache.dist.ccf

StartCommandToBegin=

FileConfigMonetAnalytics=configuration/analytics.dist.config
AddSocketLog=

FederationDefault=
SpaceCleanForceDeleteDB=false

ServerHTTPS=true
HTTPSKeyStoreFile=/root/.deployservice/deployservice.jks
HTTPSKeyStorePassword=12345678

DataWareHouseDir=
DocumentDisksDir=

FileConfigMonetExplorer=configuration/explorer.dist.config

SpacesDir=
DocumentsDir=
