<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <entry key="USE_SSL">false</entry>
  <entry key="Provider.LineChart">google</entry>
  <entry key="Provider.BarChart">google</entry>
  <entry key="Provider.MapChart">google</entry>
  <entry key="Provider.BubbleChart">google</entry>
  <entry key="Provider.TableChart">sumus</entry>
  <entry key="Provider.XlsFormat">sumus</entry>
</properties>