<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  
  <!-- CERTIFICATE -->
  <entry key="MONET_CERTIFICATE_FILENAME">monet.p12</entry>
  <entry key="MONET_CERTIFICATE_PASSWORD">1234</entry>

  <!-- DATABASE -->
  <entry key="Jdbc.Type">mysql</entry>
  <entry key="Jdbc.DataSource">jdbc/MonetDatabaseSource</entry>

  <!-- DIRECTORIES & URLS -->
  <entry key="MONET_SERVICES_REQUEST_MAX_ELAPSED_TIME">120000</entry>
  <entry key="MONET_USER_DATA_DIR">/Users/mcaballero/.monet</entry>
  <entry key="MONET_COMPONENT_DOCUMENTS_MONET_URL">http://10.13.13.145:8080/docservice</entry>

  <!-- CONSTANTS -->
  <entry key="MONET_APPLICATION_DEFINITION_FILENAME">application.xml</entry>
  <entry key="MONET_COMPONENT_DEFINITION_FILENAME">component.xml</entry>
  <entry key="MONET_TRANSLATOR_DEFINITION_FILENAME">translator.xml</entry>
  <entry key="MONET_BUSINESS_MODEL_DEFINITIONS_DICTIONARY_FILENAME">dictionary.xml</entry>
  <entry key="MONET_BUSINESS_MODEL_HELP_NOT_FOUND_FILENAME">_not_found.html</entry>
  <entry key="MONET_BUSINESS_MODEL_DATASOURCE_FILENAME">datasource</entry>
  <entry key="MONET_BUSINESS_MODEL_NODE_EXPORTER_MAIN_FILENAME">main.xsl</entry>
  <entry key="MONET_BUSINESS_MODEL_NODE_IMPORTER_MAIN_FILENAME">main.xsl</entry>
  <entry key="MONET_BUSINESS_MODEL_THESAURUS_SEPARATOR">/</entry>
  <entry key="MONET_BUSINESS_MODEL_DATASOURCE_ITEM_SEPARATOR">,</entry>
  <entry key="MONET_BUSINESS_MODEL_PACKAGES_PATH">org.monet.businessmodel</entry>
  <entry key="MONET_SIMPLE_FIELD_PATTERN">.\\[(.*)\\]</entry>
  <entry key="MONET_MULTIPLE_FIELD_PATTERN">.\\[(.*)\\]\\[(.*)\\]</entry>
  <entry key="MONET_INDICATOR_NODE_LINK"><![CDATA[<indicator[^>]*code="nodelink"[^>]*>([^<]*)</indicator>]]></entry>
  <entry key="MONET_ENCRIPT_PARAMETERS">false</entry>
  <entry key="MONET_RUN_BUSINESS_UNIT">true</entry>

  <!-- PUSH TECH -->
  <entry key="MONET_IS_PUSH_ENABLED">true</entry>

  <!-- MOBILE PUSH API -->
  <entry key="MONET_MOBILE_FCM_SETTINGS_FILENAME">/Users/mcaballero/.monet-3.2/fcm.xml</entry>
  <entry key="MONET_MOBILE_FCM_PROJECT_ID">monet</entry>

  <!-- DEBUG -->
  <entry key="MONET_IS_DEBUG_MODE">false</entry>
  <entry key="MONET_DATABASE_QUERY_EXECUTION_TIME_WARNING">3000</entry>
  
  <!-- WORKER THREAD PERIOD OF EXECUTION . SECONDS -->
  <entry key="MONET_WORKQUEUE_PERIOD">1</entry>

  <!-- SOURCE UPGRADE -->
  <entry key="MONET_SOURCE_UPGRADE_HOUR">3</entry>
  <entry key="MONET_SOURCE_UPGRADE_LAUNCH_ON_START">false</entry>

  <!-- DATAWAREHOUSE UPGRADE -->
  <entry key="MONET_DATAWAREHOUSE_UPGRADE_HOUR">4</entry>
  <entry key="MONET_DATAWAREHOUSE_UPGRADE_LAUNCH_ON_START">true</entry>
  <entry key="MONET_DATAWAREHOUSE_DIR"></entry>

  <!-- MAIL -->
  <entry key="MONET_MAIL_ADMIN_HOST">monet.org</entry>
  <entry key="MONET_MAIL_ADMIN_FROM">noreply@monet.org</entry>
  <entry key="MONET_MAIL_ADMIN_TO">admin@monet.org</entry>
  <entry key="MONET_MAIL_ADMIN_USERNAME">admin</entry>
  <entry key="MONET_MAIL_ADMIN_PASSWORD"></entry>
  <entry key="MONET_MAIL_ADMIN_PORT">465</entry>
  <entry key="MONET_MAIL_ADMIN_SECURE">true</entry>

  <entry key="MONET_USE_SSL">false</entry>
  <entry key="MONET_DEFAULT_APPLICATION">office</entry>

</properties>
