<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="InactivityTime">1200</entry> <!-- seconds -->
	<entry key="MaxRememberTime">10</entry>   <!--  days   -->
	<entry key="MaxSessions">100</entry>
	<entry key="SocketPort">#socket_port#</entry>
	<entry key="MaxSessionsSocket">100</entry>
	<entry key="DatasourceName">jdbc/FederationDatabase-#federation#</entry>
	<entry key="CertFile">#federation#.p7b</entry>
	<entry key="SuspendTime">900</entry>			<!-- seconds -->
	<entry key="RemoveSuspendTime">7200</entry>		<!-- seconds -->
	<entry key="SignTimestampInterval">60</entry>		<!-- seconds -->
	<entry key="caPassword">12345678</entry>

	<entry key="SMTP.Hostname">#mail_admin_host#</entry>
	<entry key="SMTP.Port">#mail_admin_port#</entry>
	<entry key="SMTP.User">#mail_admin_username#</entry>
	<entry key="SMTP.Password">#mail_admin_password#</entry>
	<entry key="SMTP.UseTLS">true</entry>
	<entry key="SMTP.UseSSL">true</entry>
	<entry key="SMTP.Email.From">#mail_admin_from#</entry>
	<entry key="SMTP.Email.To">#mail_admin_to#</entry>

	<entry key="Database.type">mysql</entry>
	<entry key="Version">3.0.1</entry>

	<entry key="Name">#federation#</entry>
	<entry key="Domain">#server_domain#</entry>
	<entry key="Port">#federation_port#</entry>
	<entry key="Basepath">/#federation#</entry>
	<entry key="Secure">#secure#</entry>
	<entry key="LocalUrl">http://localhost:8080/#federation#</entry>
	<entry key="Autostart">true</entry>
</properties>
