.view.furnitureset {
  position: relative;
}

.view.furnitureset ul {
  margin-left: 10px;
}

.view.furnitureset ul li {
  float: left;
  border-radius: 0 0 6px 6px;
  margin-right: 3px;
  color: white;
  cursor: pointer;
  border-top: 2px solid #565656;
  width: 95px;
  text-align: center;
}

.view.furnitureset .banner {
  background: none repeat scroll 0 0 #FFD37F;
  border: 1px solid #BF7D00;
  border-radius: 10px;
  display: none;
  margin-left: -260px;
  margin-right: 7px;
  margin-top: -139px;
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2px 0;
  position: absolute;
  right: 0;
  width: 400px;
  z-index: 100;
}

.view.furnitureset .banner label {
  color: black;
  display: block;
  float: right;
  font-size: 13px;
  margin: 3px 13px 0px;
  height: 19px;
}

.view.furnitureset .banner ul {
  clear: both;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.view.furnitureset .banner ul li {
  border: 0 none;
  border-radius: 0;
  color: #000000;
  float: none;
  text-align: left;
  width: 100%;
  padding: 1px 1px;
  border-radius: 2px;
}

.view.furnitureset ul li:hover {
  /*background: #888;*/
  border-top: 2px solid #afafaf;
}

.view.furnitureset .banner ul li:hover {
  border-top: 0;
  background: #FFDE9F;
}

.view.furnitureset ul li.active_true {
  /*background: black;*/
  border-top: 2px solid yellow;
}

.view.furnitureset ul li.highlighted_true {
  font-weight: normal;
  /*border-top: 2px solid #565656;*/
}

.view.furnitureset ul li.highlighted_true span {
  color: orange;
  padding-left: 6px;
  font-size: 12px;
}

.view.furnitureset ul li a {
  color: white;
  display: block;
  padding: 5px 20px;
  white-space: nowrap;
}

.view.furnitureset .banner ul li a {
  padding: 0;
  color: #0D3C98;
}