.viewer.helper .observers label {
  font-size: 16px;
  margin-bottom: 10px;
}

.viewer.helper .observers ul {
  max-height: 150px;
  overflow: auto;
}

.viewer.helper .observers li {
  clear: both;
  height: 20px;
  margin: 5px 0px;
}

.viewer.helper .observers li .box {
  float: left;
  height: 14px;
  width: 14px;
  border: 1px solid black;
}

.viewer.helper .observers li .fullname {
  float: left;
  margin-left: 5px;
}