.wizard .steps li {
  background: #EFF7FF;
  display: block;
  float: left;
  margin-right: 10px;
  padding: 3px 10px;
  text-align: center;
  width: 100px;
  font-size: 13px;
  color: black;
}

.wizard .steps {
  height: 30px;
}

.wizard .display .step {
  padding: 10px;
  background: #EFF7FF;
}

.wizard .steps li.disabled {
  background: #eee;
  color: #aaa;
}

.node .wizard .toolbar, .task .wizard .toolbar, .cube .wizard .toolbar {
  border: 0px;
  float: right;
  margin: 10px 0px;
}

.node .wizard .toolbar .button.disabled {
  color: #777;
}

.node .wizard .toolbar .button.disabled:hover {
  background: white;
}