[mysqld]
bind-address=0.0.0.0
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

skip-external-locking
ft_min_word_len=2
ft_stopword_file=""
lower_case_table_names=1
key_buffer		= 16M
max_allowed_packet	= 100M
thread_stack		= 192K
thread_cache_size	= 8
myisam-recover		= BACKUP

query_cache_limit	= 1M
query_cache_size	= 16M

skip-name-resolve
innodb_file_per_table=1
default-storage-engine = myisam

[mysqld_safe]
