/* Layout column left */
.x-layout-collapsed-west {
  background-image: url('../images/layout/collapse-west-bg.es.gif');
  background-repeat: no-repeat;
  background-position: center;
}

/* Layout column right */
.x-layout-collapsed-east {
}

.dialog.sharenode .x-layout-collapsed-east {
}